[submodule "linux-pf"]
	pushurl = ssh+git://aur@aur4.archlinux.org/linux-pf.git
	path = linux-pf
	url = ssh+git://aur@aur4.archlinux.org/linux-pf.git
[submodule "firefox-kde-opensuse"]
	path = firefox-kde-opensuse
	url = ssh+git://aur@aur4.archlinux.org/firefox-kde-opensuse.git
	pushurl = ssh+git://aur@aur4.archlinux.org/firefox-kde-opensuse.git
[submodule "wargus"]
	pushurl = ssh+git://aur@aur4.archlinux.org/wargus.git
	path = wargus
	url = ssh+git://aur@aur4.archlinux.org/wargus.git
[submodule "nvidia-pf"]
	path = nvidia-pf
	url = ssh+git://aur@aur4.archlinux.org/nvidia-pf.git
	pushurl = ssh+git://aur@aur4.archlinux.org/nvidia-pf.git
[submodule "bbswitch-pf"]
	path = bbswitch-pf
	url =  ssh+git://aur@aur4.archlinux.org/bbswitch-pf.git
	pushurl = ssh+git://aur@aur4.archlinux.org/bbswitch-pf.git
[submodule "csslint"]
	path	= csslint
	pushurl = ssh+git://aur@aur4.archlinux.org/csslint.git
	url =  ssh+git://aur@aur4.archlinux.org/csslint.git
[submodule "dropbox-index"]
	path	= dropbox-index
	pushurl = ssh+git://aur@aur4.archlinux.org/dropbox-index.git
	url =  ssh+git://aur@aur4.archlinux.org/dropbox-index.git	
[submodule "java-swing-globalmenu"]
	path = java-swing-globalmenu
	pushurl = ssh+git://aur@aur4.archlinux.org/java-swing-globalmenu.git
	url =  ssh+git://aur@aur4.archlinux.org/java-swing-globalmenu.git
[submodule "perl-devel-trace"]
	path = perl-devel-trace
	pushurl = ssh+git://aur@aur4.archlinux.org/perl-devel-trace.git
	url =  ssh+git://aur@aur4.archlinux.org/perl-devel-trace.git
[submodule "qremotecontrol-server"]
	path    = qremotecontrol-server
	pushurl = ssh+git://aur@aur4.archlinux.org/qremotecontrol-server.git
	url =  ssh+git://aur@aur4.archlinux.org/qremotecontrol-server.git
[submodule "ryzom-data"]
	path = ryzom-data	
	pushurl = ssh+git://aur@aur4.archlinux.org/ryzom-data.git
	url =  ssh+git://aur@aur4.archlinux.org/ryzom-data.git
[submodule "ryzom-hg"]
	path = ryzom-hg
	pushurl = ssh+git://aur@aur4.archlinux.org/ryzom-hg.git
	url =  ssh+git://aur@aur4.archlinux.org/ryzom-hg.git
[submodule "libsh-git"]
	pushurl = ssh+git://aur@aur4.archlinux.org/libsh-git.git
	path = libsh-git
	url = ssh+git://aur@aur4.archlinux.org/libsh-git.git
[submodule "usenew-git"]
	pushurl = ssh+git://aur@aur4.archlinux.org/usenew-git.git
	path = usenew-git
	url =  ssh+git://aur@aur4.archlinux.org/usenew-git.git
[submodule "shpp-git"]
	pushurl = ssh+git://aur@aur4.archlinux.org/shpp-git.git
	path = shpp-git
	url =  ssh+git://aur@aur4.archlinux.org/shpp-git.git
[submodule "virtualbox-modules-pf"]
	pushurl = ssh+git://aur@aur4.archlinux.org/virtualbox-modules-pf.git
	path = virtualbox-modules-pf
	url =  ssh+git://aur@aur4.archlinux.org/virtualbox-modules-pf.git
[submodule "virt-manager-qt"]
	pushurl = ssh+git://aur@aur4.archlinux.org/virt-manager-qt.git
	url =  ssh+git://aur@aur4.archlinux.org/virt-manager-qt.git
	path = virt-manager-qt